<section id="subscribe">
    <div class="container">
        <div class="row jconcent">
            <div class="col-lg-8">
                <div class="subscribe__content">
                    <h2>Kompaniyalar və yeniliklər</h2>
                    <p>
                        Kompaniyalarımızdan vaxtında xəbər tutmaq və eləcə də
                        endirimlərdən zamanında faydalanmaq üçün abonə olun!
                    </p>

                    <div class="subscribe__form">
                        <input type="email" placeholder="Emailinizi daxil edin">
                        <a class="btn__1">Abonə ol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>