@{
    ViewBag.Title = "Ödəniş Uğurlu oldu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

    <div class="container" style="height: 80vh; margin-top: 200px;">
        <div class="py-5 text-center">
            <h2 class="text-success">Ödəniş Uğurlu oldu!</h2>
            <p class="lead">Alış-Veriş üçün təşəkkürlər!.</p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Əsas  Səhifə</a>
        </div>
    </div>

</body>
</html>