            <!-- breadcrumb start -->
    <section id="breadcrumb">  
        <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <div class="breadcrumb__inner">
                       <h2>Haqqımızda</h2>
                   </div>
               </div>
           </div>
        </div>
       </section>
       <!-- breadcrumb end -->

       <!-- mission start -->
         <section id="mission">
           <div class="container">
               <div class="row jconcent">
                 <div class="col-lg-8">
                   <div class="mission__content">
                       <h5>Missiyamız</h5>
                       <h3>
                           Bizim missiyamız, müştərilərimizin rahatlığını və məmnuniyyətini ən yüksək səviyyəyə qaldırmaqdır. Yüksək keyfiyyətli yastıqlar, yorganlar və digər ev tekstili məhsulları ilə hər bir müştərimizin yuxu və yaşam keyfiyyətini yaxşılaşdırmağı hədəfləyirik. Məqsədimiz, evdəki rahatlığı və istiliyi təmin etmək üçün müasir dizaynlar, yüksək keyfiyyətli materiallar və sərfəli qiymətlər təklif etməkdir.
                       </h3>

                       <div class="about__content">
                           <img class="img__fluid" src="./assets/images/about_us_video.png"  alt="photo">
                       </div>
                   </div>

                 </div>
               </div>
           </div>
         </section>
       <!-- mission end -->

            <!-- feature start -->
@await Component.InvokeAsync("Feature")
       <!-- feature start -->

       <!-- Subscribe start -->
@await Component.InvokeAsync("Subscribe")
       <!-- Subscribe end -->