<section id="feature">
    <div class="container">
        <h2>Xüsusiyyətlərimiz</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single__feature">
                    <img src="./assets/images/feature_icon_1.svg" alt="photo">
                    <h4>Kredit Kartı Dəstəyi</h4>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single__feature">
                    <img src="./assets/images/feature_icon_2.svg" alt="photo">
                    <h4>Onlayn Sifariş</h4>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single__feature">
                    <img src="./assets/images/feature_icon_3.svg" alt="photo">
                    <h4>Pulsuz Çatdırılma</h4>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single__feature">
                    <img src="./assets/images/feature_icon_4.svg" alt="photo">
                    <h4>Hədiyyəli məhsul</h4>
                </div>
            </div>
        </div>
    </div>
</section>