  <!-- breadcrumb start -->
<section id="breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__inner">
					<h2>Əlaqə</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- breadcrumb end -->

<!-- contact secstion start -->
<section id="contact__section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="contact__title">Əlaqəyə keçin</h2>
			</div>

			<div class="col-lg-8">
				<form class="form-contact">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<textarea class="form-control" cols="30" rows="9" name="message" id="message" placeholder="Messajınızı daxil edin">
													</textarea>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control" name="name" id="name" placeholder="Ad daxil et">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control" name="email" id="email" placeholder="Email daxil et">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input class="form-control" name="subject" id="subject" placeholder="Mövzu daxil et">
							</div>
						</div>
					</div>

					<div class="form-group mt-3">
						<a href="#" class="btn__explore button-contactForm">Göndər</a>
					</div>
				</form>
			</div>

			<div class="col-lg-4">
				<div class="contact__info">
					<span class="contact__info__icon">
						<i class="fa-solid fa-house"></i>
					</span>
					<div class="contact__info__body">
						<h3>Bakı Azərbaycan </h3>
						<p>Nizami küç. Səbail 00</p>
					</div>
				</div>

				<div class="contact__info">
					<span class="contact__info__icon">
						<i class="tablet__icon fa-solid fa-tablet-screen-button"></i>
					</span>
					<div class="contact__info__body">
						<h3>994 11 1111 111 11</h3>
						<p>B.E - Ş. 10:00 - 19:00 </p>
					</div>
				</div>

				<div class="contact__info">
					<span class="contact__info__icon">
						<i class="fa-solid fa-envelope"></i>
					</span>
					<div class="contact__info__body">
						<h3>support@pwmarket.com</h3>
						<p>Suallarınızı  göndərin </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact secstion end -->