
    <!-- banner start -->
    <section id="banner__part">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="banner__text">
                        <h1>Əla keyfiyyətli məhsullar</h1>
                        <p>
                            Keyfiyyətli məhsullarımızla rahatlığınızı təmin edin
                        </p>

                        <a href="#" class="btn__shop">İndi Al</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner__img">
            <img src="./assets/images/banner.png" alt="photo" class="img__fluid">
            <img src="./assets/images/banner_pattern.png" class="img__pattern" alt="photo">
        </div>
    </section>
    <!-- banner end -->
    <!-- product list start -->
    <section id="product__list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single__product__inner">
                        <div class="row alitemcent jspacebetween">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single__product__img">
                                    <img src="./assets/images/single_product_1.png" alt="photo" class="img__fluid">
                                    <img src="./assets/images/product_overlay.png" alt="overlay" class="product__overlay img__fluid">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="single__product__content">
                                    <h5>5 manatdan başlayaraq</h5>
                                    <h2>
                                        <a href="#">
                                            Sərfəli və keyfiyyətli məhsullar
                                        </a>
                                    </h2>

                                    <a href="#" class="btn__explore">İndi Kəşf Et</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single__product__inner">
                        <div class="row alitemcent jspacebetween">
                            <div class="col-lg-5 col-sm-6">
                                <div class="single__product__content">
                                    <h5>50 manatdan başlayaraq</h5>
                                    <h2>
                                        <a href="#">
                                            Premium çaplı məhsullar
                                        </a>
                                    </h2>
                                    <a href="#" class="btn__explore">İndi Kəşf Et</a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="single__product__img">
                                    <img src="./assets/images/single_product_2.png" alt="photo" class="img__fluid">
                                    <img src="./assets/images/product_overlay.png" alt="overlay" class="product__overlay img__fluid">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="single__product__inner">
                        <div class="row alitemcent jspacebetween">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single__product__img">
                                    <img src="./assets/images/single_product_3.png" alt="photo" class="img__fluid">
                                    <img src="./assets/images/product_overlay.png" alt="overlay" class="product__overlay img__fluid">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="single__product__content">
                                    <h5>150 manatdan başlayaraq</h5>
                                    <h2>
                                        <a href="#">
                                            Ekskluziv yüksək keyfiyyətli  məhsullar
                                        </a>
                                    </h2>

                                    <a href="#" class="btn__explore">İndi Kəşf Et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list end -->
    <!-- trending item start -->
    <section id="trending__items">
        <div class="container">
            <h2 class="trending__title">Trending Items</h2>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="trend__product__item">
                        <div class="trend__product__img__wrapper">
                            <img class="img__fluid" src="./assets/images/tranding_item_1.png" alt="photo">
                        </div>
                        <h3>
                            <a href="#">Rahat  hava nəqliyyat yastıqları</a>
                        </h3>
                        <p>5 manatdan başlayaraq</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="trend__product__item">
                        <div class="trend__product__img__wrapper">
                            <img class="img__fluid" src="./assets/images/tranding_item_2.png" alt="photo">
                        </div>
                        <h3>
                            <a href="#">Yumşaq pambıqlı yastıqlar</a>
                        </h3>
                        <p>5 manatdan başlayaraq</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="trend__product__item">
                        <div class="trend__product__img__wrapper">
                            <img class="img__fluid" src="./assets/images/tranding_item_3.png" alt="photo">
                        </div>
                        <h3>
                            <a href="#">Havalı elastik yastıqlar</a>
                        </h3>
                        <p>5 manatdan başlayaraq</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="trend__product__item">
                        <div class="trend__product__img__wrapper">
                            <img class="img__fluid" src="./assets/images/tranding_item_4.png" alt="photo">
                        </div>
                        <h3>
                            <a href="#">Rahat  hava nəqliyyat yastıqları</a>
                        </h3>
                        <p>5 manatdan başlayaraq</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="trend__product__item">
                        <div class="trend__product__img__wrapper">
                            <img class="img__fluid" src="./assets/images/tranding_item_5.png" alt="photo">
                        </div>
                        <h3>
                            <a href="#">Yumşaq pambıqlı yastıqlar</a>
                        </h3>
                        <p>5 manatdan başlayaraq</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="trend__product__item">
                        <div class="trend__product__img__wrapper">
                            <img class="img__fluid" src="./assets/images/tranding_item_6.png" alt="photo">
                        </div>
                        <h3>
                            <a href="#">Havalı elastik yastıqlar</a>
                        </h3>
                        <p>5 manatdan başlayaraq</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- trending item end -->
    
    <!-- feature start -->
     @await Component.InvokeAsync("Feature");
    <!-- feature start -->
   
    <!-- Subscribe start -->
    @await Component.InvokeAsync("Subscribe");
    <!-- Subscribe end -->

