         <!-- product detail breadcrumb start -->
<section id="product__detail__breadcrumb">
</section>
<!-- product detail breadcrumb end -->
<!-- product detail wrapper start -->
<section id="productDetail__wrapper">
    <div class="container">
        <div class="row jconcent">

            <div class="col-lg-12">
                <div class="single__product__img--wrapper">
                    <img src="/assets/images/single_product.png" alt="photo" class="img__fluid">
                </div>
            </div>

            <div class="col-lg-8">
                <div class="single__product__text">
                    <h3>
                        Yumşaq rahat və keyfiyyətli <br>
                        yenilənə bilən yastıq
                    </h3>
                    <p>
                        Bir çox müştərilərin seçimi olan ekonomik və keyfiyyətli məhsul. Həmçinin siz bizimlə əlaqə saxlayaraq istədiyiniz yazı şəkil qrafika və s. elementləri üzərinə çap etdirə bilərsiz .
                        Keyfiyyətli yuxu diləyilə
                    </p>
                    <div class="card__area">
                        <div class="addToCart">
                            <a href="#" class="btn__explore">əlavə et</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product detail  wrapper end   -->

<!-- Subscribe start -->
@await Component.InvokeAsync("Subscribe")
<!-- Subscribe end -->