@using Business.Models.Product

@model List<ProductVM>
<!-- breadcrumb start -->
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__inner">
                    <h2>Məhsullar</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- product--list start -->
<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product__sidebar">
                    <div class="single__sidebar">
                        <form>
                            <input placeholder="axtar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </form>
                    </div>
                    <div class="single__sidebar">
                        <div class="select__option">
                            <div class="select__option__list">
                                Kateqoriya
                                <i class="fa-regular fa-square-caret-down"></i>

                            </div>

                            <div class="select__option__dropdown d-none">
                                <p><a href="#">Kateqoriya 1</a></p>
                                <p><a href="#">Kateqoriya 2</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product">
                    <div class="row">

                        @foreach (var product in Model)
                        {
                            <div class="col-lg-6 col-sm-6">
                                <div class="single__product__item">
                                    <img src="/assets/images/products/@product.PhotoName" alt="#" class="img__fluid">
                                    <h3>@product.Name</h3>
                                    <p>
                                        @product.Price manat

                                        <ul>
                                            @if (product.StockQuantity > 0)
                                            {
                                                <li><button data-id="@product.Id" class="addToBasket mt-4 btn btn-outline-success">+</button></li>
                                            }
                                            else  
                                            {
                                                <button style="cursor:default" class=" mt-4 btn btn-danger">Bitib</button>

                                            }
                                        </ul>
                                    </p>

                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- product--list start -->
<!-- feature start -->
@await Component.InvokeAsync("Feature");
<!-- feature start -->
<!-- Subscribe start -->
@await Component.InvokeAsync("Subscribe");
<!-- Subscribe end -->

@section Scripts {
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/Basket.js"></script>
}